


body{
	font-family:"Agency FB";
	background-color: rgba(0, 0, 0, 0.75);
}

*{
box-sizing:border-box;
}

h1
{
	color:#FFF;

	font-size:310%;
	text-align:center;
}
#video{
 position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

h3
{
	color:#FFF;
	text-align:right;

	font-size:120%;

}
h2
{
	color:#FFF;
	padding:0;margin:0 0 20px 0;
	font-size:250%;
	text-align:center;

}

.container
{
	width:80%;
	margin:0 10%;
	position:relative;

}



.image-groupe{
position:relative;
width:30%;
float:left;
height:500px;

}

.planete{
transform:scale(0.90);
}

.bonhomme{
position:absolute;
left:35%;top:20%;
transform:scale(1);


}


#regle{
	background-color: rgba(195, 7, 7, 1);
	padding: 15px 25px;
	border-radius: 50%;
}
.formulaire
{
	float:right;
}
label{
	color:white;
	background-color:rgba(134, 36, 36, 0.75);
	border : 2px solid black;
	padding: 4px 25px;
	margin-right: 10px;
}

.name, .email
{
	padding: 10px 15px 15px 10px;
	background-color:#ffffff;
	border:4px double black;
	text-align: center;
	font-size: 100%;
	opacity:0.8;
	border-radius:8px;
	color:#b90c0c;
	margin-bottom:8px;


}
.name:focus, .email:focus{
	-webkit-box-shadow: 0px 0px 89px 12px rgba(82,15,18,0.6);
	-moz-box-shadow: -5px 0px 89px 12px rgba(82,15,18,0.6);
	box-shadow: 0px 1px 89px 5px white;

}
.boutontexte
{

	text-align:center;
	font-size: 150%;
	background-color:#aa3706;
	color:#FFF;
	border:inherit;
	border-radius:8px;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:20px;
	padding-right:20px;


}


.boutonforme
{
	opacity:0.8;
	text-align:center;
}

.boutontexte:hover
{
	background-color:#f45410;
	transform:rotate(2deg);
}

.credits
{

	color:#FFF;

	font-size: 80%;
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);

}

a:link
{
	color:#FFF;
	text-decoration:none;
}
a:visited
{
	color:#FFF;
	text-decoration:none;
}






@media screen and (max-width: 1202px) {
    .image-groupe{
		position:absolute;
        right:0;
    }

	.tab{
		left:10%;
		transform:translate(0);

	}
	.tab img{
		height:21px;
		width:21px;
	}

	.ligne1, .ligne2, .ligne3, .ligne4, .ligne5, .ligne6, .ligne7, .ligne8, .ligne9
, .ligne10, .ligne11, .ligne12, .ligne13, .ligne14, .ligne15, .ligne16, .ligne17, .ligne18
, .ligne19, .ligne20{
	height:21px;


}

}



@media screen and (max-width: 900px) {
	.formulaire{
		position:absolute;
		left:50%;
		transform:translateX(-50%);
	}
	.tab{
		left:50%;
		transform:translateX(-50%);
		top:270px;
	}


	.ligne1, .ligne2, .ligne3, .ligne4, .ligne5, .ligne6, .ligne7, .ligne8, .ligne9
, .ligne10, .ligne11, .ligne12, .ligne13, .ligne14, .ligne15, .ligne16, .ligne17, .ligne18
, .ligne19, .ligne20{
	height:17px;


	}
	.tab img{
		height:17px;
		width:17px;
	}

	.image-groupe{
		left:50%;
		transform:translateX(-50%);
	}
}
