@charset "utf-8";
/* CSS Document */


.niv1 {
    width: 50%;
    height: 100px;
    background-color: rgba(153, 36, 36, 0.8);
    margin: 0 25%;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    border-radius: 5px;
}

@media screen and (min-width: 1560px) {
  .tab-controle{
    float:right;
	width:400px;
	padding:10px 0;
	border-radius:2%;	
  }
}

@media screen and (max-width: 1560px) {
  .tab-controle{
	width:250px;
	
	float:right;
	
}
}

h1, h2, h3, h4, h5, h6, p{
padding:0; margin:0	
}

span{
display:inline-block;
font-weight:600;
font-size:24px;

color:#CF000F
}

.tab-controle{
	height:auto;
	background-color:#2C3E50;
	color:white;
	border: ridge white 5px;
	padding:15px 10px;
	border-radius:2%;
		
}
.tab-pimg{
margin-top:5px;	
}

.tab-controle div{
margin-bottom: 15px;
	
}


.tab-texte{
display:inline-block;
position:relative;
padding-left:15px;
top:-10px;
}
.tab-controle div img, .tab-controle p img{
z-index:1500;
}

.tab-controle p{
padding-top:8px;
padding-bottom:8px;
position:relative;

}
.tab-pimg p, .align{
text-align:justify;
}
.tab-pimg p{
padding-right:40px;	
}
.align{
margin-top:40px;

}
#img{
left:50%;
transform:translteX(-50%);
top:-30px;	
}

.tab-controle p img{
position:absolute;
top:11px;right:0
}

.tab-bonus{
display:none	
}

.left{
float:left;	
}

.scorefinal{
  width: 80%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 1% 10%;
}
thead{
  font-weight:bold;
  font-size: 20px;
}

.base-interraction{
position:relative;
width: 800px;
background-color:#2C3E50;
height:100px;
left:50%;
transform: translateX(-50%);
border: ridge white 4px;

text-align:center; 

font-weight:600; 
font-size:24px;

color:#CF000F
}
body{
	background-image:url('../img/espace.jpeg')
}

td, img, tr{
	padding: 0; margin : 0;
}
tr{
height:38px	;
}

img{
	position:relative;
	z-index:-5;	
}


.red{
	color:red;	
}


.vision1{
background-color:rgba(255, 255, 255, 0.75)

}
.vision2{
background-color:rgba(255, 255, 255, 0.6)

}
.vision3{
background-color:rgba(255, 255, 255, 0.4)

}
.vision4{
	background-color:rgba(255, 255, 255, 0.3)
}


img, td{
width:33px;
height:33px;	
}
table{
margin: 0 50%;	
transform: translateX(-50%);
}



@keyframes haut{
  0%{background-position-x:0; }
  
  100% {background-position-x:-576px;}
}

@keyframes gauche{
   0%{background-position-x:0; background-position-y:-63.5px; }
  
  100% {background-position-x:-576px; background-position-y:-63.5px; }
}

@keyframes bas{
  0%{background-position-x:0; background-position-y:-128px; }
  
  100% {background-position-x:-576px; background-position-y:-128px; }
}

@keyframes droite{
   0%{background-position-x:0; background-position-y:-192px;}
  
  100% {background-position-x:-576px; background-position-y:-192px;}
}


.persos{
  background-image:url('http://image.noelshack.com/fichiers/2016/49/1481293635-telechargement-1.png');
  width:64px;
  height:64px;
  position:absolute;
  background-position-y:-128px;
  top:22px; /*rajouter 39px pour décaler d'une case*/
  left:25px /*rajouter 35 px pour décaler d'une case*/
  
  
  
}


.droite{
    animation:droite 0.55s steps(9);
    transition:left 0.55s cubic-bezier(0.25, 0.19, 0.67, 1.01);
}

.droite-pos{
    background-position-y:-192px;
}

.haut{
  
  animation:haut 0.55s steps(9);
  transition:top 0.55s cubic-bezier(0.25, 0.19, 0.67, 1.01);
}

.haut-pos{
    background-position-y:0px;
}


.gauche{
  animation:gauche 0.55s steps(9);
  transition:left 0.55s cubic-bezier(0.25, 0.19, 0.67, 1.01);
}

.gauche-pos{
    background-position-y:-64px;
}

.bas{
  
  animation:bas 0.55s steps(9);
  transition:top 0.55s cubic-bezier(0.25, 0.19, 0.67, 1.01);
}

.bas-pos{
    background-position-y:-128px;
    
}




